<a href="https://colab.research.google.com/github/mirovoy465/colab/blob/main/%D0%9A%D0%BE%D0%BF%D0%B8%D1%8F_%D0%B1%D0%BB%D0%BE%D0%BA%D0%BD%D0%BE%D1%82%D0%B0_%22hw02_pandas_ipynb%22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Домашнее задание 2 (5 баллов).

Все задания ниже имеют равный вес (5/16).

In [1]:
import pandas as pd
import os
import glob
import re

#### Описание данных

В папке Data находится информация о студентах. Всего 10 групп студентов. Файлы делятся на две категории:
    * Students_info_i - информация о студентах из группы i
    * Students_marks_i - оценки студентов из группы i за экзамены

### Одно из важных достоинств pandas $-$ это удобные методы реляционного взаимодействия с данными, аналогичные, например, возможностям SQL для слияния и конкатенации таблиц: merge, join, concat. Наличие готовых методов позволяет не реализовывать самостоятельно поэлементную обработку данных и оперировать сразу целыми таблицами данных.

Подробно об этих методах посмотрите тут: https://www.kaggle.com/residentmario/renaming-and-combining#Combining

#### Задание 1. Соберите всю информацию о студентах в одну таблицу df. В получившейся таблице должна быть информация и оценки всех студентов из всех групп. Напечатайте несколько строк таблицы для демонстрации результата.¶

In [2]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [3]:
cd drive/MyDrive/Data

/content/drive/MyDrive/Data

In [4]:
path = os.getcwd()
marks = glob.glob(os.path.join(path, "*marks*"))
info = glob.glob(os.path.join(path, "*info*"))

data_marks = pd.read_csv(marks[0])
data_info = pd.read_csv(info[0])

for i in range(1,len(marks)):
  data_marks = pd.concat([data_marks, pd.read_csv(marks[i])])

for i in range(1,len(marks)):
  data_info = pd.concat([data_info, pd.read_csv(info[i])])

df = pd.merge(data_marks, data_info, how = 'inner')
df.sample(5)

,index,math score,reading score,writing score,gender,race/ethnicity,parental level of education,lunch,test preparation course,group
731,631,79,60,65,male,group B,high school,standard,none,group7
529,329,41,55,51,female,group B,some high school,standard,none,group4
360,260,64,79,77,female,group C,some high school,free/reduced,completed,group3
338,238,54,52,51,male,group B,some college,standard,none,group3
39,539,97,92,86,male,group A,associate's degree,standard,completed,group6

#### Задание 2. Удалите столбец index у полученной таблицы. Напечатайте первые 10 строк таблицы.

In [5]:
df = df.drop('index', axis = 1)
df

,math score,reading score,writing score,gender,race/ethnicity,parental level of education,lunch,test preparation course,group
0,74,79,82,female,group D,master's degree,standard,none,group6
1,94,87,92,female,group B,associate's degree,standard,completed,group6
2,63,61,54,male,group C,some college,free/reduced,none,group6
3,95,89,92,female,group E,associate's degree,standard,completed,group6
4,40,59,54,female,group D,master's degree,free/reduced,none,group6
...,...,...,...,...,...,...,...,...,...
995,57,68,73,female,group E,associate's degree,free/reduced,completed,group8
996,70,70,70,male,group D,high school,standard,none,group8
997,70,84,81,female,group E,associate's degree,free/reduced,none,group8
998,69,60,54,male,group E,some college,standard,none,group8
999,52,55,57,female,group C,associate's degree,standard,none,group8

#### Задание 3. Выведите на экран размеры полученной таблицы

In [6]:
df.shape

(1000, 9)

#### Задание 4. Выведите на экран статистические характеристики числовых столбцов таблицы (минимум, максимум, среднее значение, стандартное отклонение)

In [7]:
gr = df.groupby('gender').agg({
    'math score' : ['mean','std','min','max'],
    'writing score' : ['median','mean'],
    'reading score' : ['mean']
})
gr

       math score                     writing score            reading score
             mean        std min  max        median       mean          mean
gender
female  63.633205  15.491453   0  100          74.0  72.467181     72.608108
male    68.728216  14.356277  27  100          64.0  63.311203     65.473029

#### Задание 5. Проверьте, есть ли в таблице пропущенные значения

In [8]:
print(df.isnull().values.any())

False

#### Задание 6. Выведите на экран средние баллы студентов по каждому предмету (math, reading, writing)

In [9]:
print(df.agg({
    'math score' : ['mean'],
    'writing score' : ['mean'],
    'reading score' : ['mean']
}))
df

      math score  writing score  reading score
mean      66.089         68.054         69.169

,math score,reading score,writing score,gender,race/ethnicity,parental level of education,lunch,test preparation course,group
0,74,79,82,female,group D,master's degree,standard,none,group6
1,94,87,92,female,group B,associate's degree,standard,completed,group6
2,63,61,54,male,group C,some college,free/reduced,none,group6
3,95,89,92,female,group E,associate's degree,standard,completed,group6
4,40,59,54,female,group D,master's degree,free/reduced,none,group6
...,...,...,...,...,...,...,...,...,...
995,57,68,73,female,group E,associate's degree,free/reduced,completed,group8
996,70,70,70,male,group D,high school,standard,none,group8
997,70,84,81,female,group E,associate's degree,free/reduced,none,group8
998,69,60,54,male,group E,some college,standard,none,group8
999,52,55,57,female,group C,associate's degree,standard,none,group8

**Задание 7. Как зависят оценки от того, проходил ли студент курс для подготовки к сдаче экзамена (test preparation course)? Выведите на экран для каждого предмета в отдельности средний балл студентов, проходивших курс для подготовки к экзамену и не проходивших курс.**

In [10]:
gr = df.groupby('test preparation course').agg({
    'math score' : ['mean','std','min','max'],
    'writing score' : ['median','mean'],
    'reading score' : ['mean']
})
gr

                        math score                     writing score  \
                              mean        std min  max        median
test preparation course
completed                69.695531  14.444699  23  100          76.0
none                     64.077882  15.192376   0  100          65.0

                                   reading score
                              mean          mean
test preparation course
completed                74.418994     73.893855
none                     64.504673     66.534268

**Задание 8. Выведите на экран все различные значения из столбца lunch.**

In [11]:
df.lunch.unique()

array(['standard', 'free/reduced'], dtype=object)

**Задание 9. Переименуйте колонку "parental level of education" в "education", а "test preparation course" в "test preparation" с помощью метода pandas rename**
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html

In [12]:
df = df.rename(columns={'parental level of education': 'education', 'test preparation course' : 'test preparation'})
df

,math score,reading score,writing score,gender,race/ethnicity,education,lunch,test preparation,group
0,74,79,82,female,group D,master's degree,standard,none,group6
1,94,87,92,female,group B,associate's degree,standard,completed,group6
2,63,61,54,male,group C,some college,free/reduced,none,group6
3,95,89,92,female,group E,associate's degree,standard,completed,group6
4,40,59,54,female,group D,master's degree,free/reduced,none,group6
...,...,...,...,...,...,...,...,...,...
995,57,68,73,female,group E,associate's degree,free/reduced,completed,group8
996,70,70,70,male,group D,high school,standard,none,group8
997,70,84,81,female,group E,associate's degree,free/reduced,none,group8
998,69,60,54,male,group E,some college,standard,none,group8
999,52,55,57,female,group C,associate's degree,standard,none,group8

**Зафиксируем минимальный балл для сдачи экзамена**

In [13]:
import numpy as np
passmark = 50

**Задание 10. Ответьте на вопросы:**
    * Какая доля студентов сдала экзамен по математике (passmark >= 50)?
    * Какая доля студентов, проходивших курс подготовки к экзамену, сдала экзамен по математике?
    * Какая доля женщин, не проходивших курс подготовки к экзамену, не сдала экзамен по математике?

In [14]:
passed = np.sum(df['math score'] > passmark)/len(df)
print(passed)

passed_prep = np.sum((df['math score'] > passmark)
                   & (df['test preparation'] == 'completed'))/len(df)
print(passed_prep)

w_fail_unprep = np.sum((df['gender'] == 'female')
                     & (df['math score'] < passmark)
                     & (df['test preparation'] == 'none'))/len(df)
print(w_fail_unprep)

0.85
0.325
0.07

**Задание 11. С помощью groupby выполните задания ниже. Также выведите время выполнения каждого из заданий.**
    * Для каждой этнической группы выведите средний балл за экзамен по чтению
    * Для каждого уровня образования выведите минимальный балл за экзамен по письму

In [15]:
%timeit df.groupby('race/ethnicity')['reading score'].mean

56 µs ± 12.4 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

**Задание 12. Выполните задание 11 с помощью циклов. Сравните время выполнения.**

In [16]:
groups = {i:None for i in df['race/ethnicity'].unique()}
gr = df.groupby('race/ethnicity')['reading score']

def count_score(gr, groups):
  for i in gr:
    for j in list(groups.keys()):
      if i[0] == j:
        item_count = 0
        score_total = 0
        for k in i[1]:
          score_total += k
          item_count += 1
        groups[j] = score_total/item_count
  return groups

%timeit count_score(gr, groups)

352 µs ± 9.78 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

**Задание 13. Выведите на экран средние баллы студентов по каждому предмету в зависимости от пола и уровня образования. То есть должно получиться количество групп, равных 2 * (число уровней образования), и для каждой такой группы выведите средний балл по каждому из предметов.**

Это можно сделать с помощью сводных таблиц (pivot_table):

https://www.kaggle.com/kamilpolak/tutorial-how-to-use-pivot-table-in-pandas

In [64]:
df['mean score'] = (df[['math score', 'reading score', 'writing score']]).mean(axis = 1)

grouped = pd.pivot_table(data=df,  index = ['gender','education'], values='mean score')
grouped

                           mean score
gender education
female associate's degree   71.123563
       bachelor's degree    74.671958
       high school          64.748227
       master's degree      73.648148
       some college         71.002825
       some high school     65.564103
male   associate's degree   67.867925
       bachelor's degree    68.775758
       high school          61.575163
       master's degree      73.521739
       some college         65.716049
       some high school     64.636364

#### Задание 14. Сколько студентов успешно сдали экзамен по математике?

Создайте новый столбец в таблице df под названием Math_PassStatus и запишите в него F, если студент не сдал экзамен по математике (балл за экзамен < passmark), и P иначе.

Посчитайте количество студентов, сдавших и не сдавших экзамен по математике.

Сделайте аналогичные шаги для экзаменов по чтению и письму.

In [65]:
df['Math_PassStatus'] = ['F' if x < passmark else 'P' for x in df['math score']]
df

,math score,reading score,writing score,gender,race/ethnicity,education,lunch,test preparation,group,mean score,Math_PassStatus,Overall_PassStatus,Grade
0,74,79,82,female,group D,master's degree,standard,none,group6,78.333333,P,P,C
1,94,87,92,female,group B,associate's degree,standard,completed,group6,91.000000,P,P,A
2,63,61,54,male,group C,some college,free/reduced,none,group6,59.333333,P,P,E
3,95,89,92,female,group E,associate's degree,standard,completed,group6,92.000000,P,P,A
4,40,59,54,female,group D,master's degree,free/reduced,none,group6,51.000000,F,F,E
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,57,68,73,female,group E,associate's degree,free/reduced,completed,group8,66.000000,P,P,D
996,70,70,70,male,group D,high school,standard,none,group8,70.000000,P,P,C
997,70,84,81,female,group E,associate's degree,free/reduced,none,group8,78.333333,P,P,C
998,69,60,54,male,group E,some college,standard,none,group8,61.000000,P,P,D
999,52,55,57,female,group C,associate's degree,standard,none,group8,54.666667,P,P,E

#### Задание 15. Сколько студентов успешно сдали все экзамены?

Создайте столбец OverAll_PassStatus и запишите в него для каждого студента 'F', если студент не сдал хотя бы один из трех экзаменов, а иначе 'P'.

Посчитайте количество студентов, которые сдали все экзамены.

In [66]:
conditions = ((df['math score'] > passmark)
            & (df['writing score'] > passmark)
            & (df['reading score'] > passmark))

values = ['P','F']

df['Overall_PassStatus'] = np.select([conditions, ~conditions], values)

len(df[df['Overall_PassStatus'] == 'P'])

796

#### Задание 16. Переведем баллы в оценки

### Система перевода баллов в оценки
####    больше 90 = A
####      80-90 = B
####      70-80 = C
####      60-70 = D
####      50-60 = E
####    меньше 50 = F (Fail)

Создайте вспомогательную функцию, которая будет по среднему баллу за три экзамена выставлять оценку студенту по данным выше критериям.

Создайте столбец Grade и запишите в него оценку каждого студента.

Выведите количество студентов, получивших каждую из оценок.

**В случае, если средний балл попадает на границу между оценками (т.е. равен ровно 60, 70 или 80 баллов), вы можете интерпретировать условие на своё усмотрение (т.е. можете поставить за 60 баллов оценку D, а можете - E).**

In [68]:
values = ['P','F']

df['Overall_PassStatus'] = np.select([conditions, ~conditions], values)

def GetGrade(average_mark):
    conditions = [(      average_mark >  90),
                  (80 <= average_mark <= 90),
                  (70 <= average_mark <= 80),
                  (60 <= average_mark <= 70),
                  (50 <= average_mark <= 60),
                  (50 <  average_mark      )]
    values = ['A', 'B', 'C', 'D', 'E', 'F']

    return np.select(conditions,values)

df['Grade'] = df['mean score'].apply(GetGrade)

df

,math score,reading score,writing score,gender,race/ethnicity,education,lunch,test preparation,group,mean score,Math_PassStatus,Overall_PassStatus,Grade
0,74,79,82,female,group D,master's degree,standard,none,group6,78.333333,P,P,C
1,94,87,92,female,group B,associate's degree,standard,completed,group6,91.000000,P,P,A
2,63,61,54,male,group C,some college,free/reduced,none,group6,59.333333,P,P,E
3,95,89,92,female,group E,associate's degree,standard,completed,group6,92.000000,P,P,A
4,40,59,54,female,group D,master's degree,free/reduced,none,group6,51.000000,F,F,E
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,57,68,73,female,group E,associate's degree,free/reduced,completed,group8,66.000000,P,P,D
996,70,70,70,male,group D,high school,standard,none,group8,70.000000,P,P,C
997,70,84,81,female,group E,associate's degree,free/reduced,none,group8,78.333333,P,P,C
998,69,60,54,male,group E,some college,standard,none,group8,61.000000,P,P,D
999,52,55,57,female,group C,associate's degree,standard,none,group8,54.666667,P,P,E